@mixin font($font_name, $file_name, $weight, $style) {
@font-face {
  font-family: $font_name; 
  font-display: swap; 
  src: url("../fonts/#{$file_name}.woff") 
  format("woff"), 
  url("../fonts/#{$file_name}.woff2") 
  format("woff2"); 
  font-weight: #{$weight}; 
  font-style: #{$style}; }

}

@import "fonts";

$font-stack: 15px;

body {
  display: flex;
  font-size: $font-stack;
  background-image: url(../img/triple-set-tablet.jpg);
}

span {
  font-size: $font-stack;
  @media (max-width: 800px) {
    font-size: 10px;    
  }
}

div {
  font-size: $font-stack;
  @media (max-width: 800px) {
    font-size: 10px;    
  }
}