.additional-menu {
	display: none;
	font-size: 15px;
	line-height: 24px;

	@media (min-width: $tablet) {
		display: flex;
	}

	@media (min-width: $desktop) {
		display: flex;
	}
}
.additional-menu__list {
	list-style-type: none;
	font-weight: 700;

	@media (min-width: $tablet) {
		display: none;
	}

	@media (min-width: $desktop) {
		display: flex;
	}
}
.additional-menu__item {
	margin-right: 62px;
}
.additional-menu__link {
	color: #000000;
	text-decoration: none;
}
.additional-menu__text {
	margin-left: auto;
}
