.contacts {
	margin-bottom: 40px;
	max-width: 1150px;

	@media (min-width: $tablet) {
		padding-top: 50px;
		margin-bottom: 60px;
	}

	@media (min-width: $desktop) {
		position: relative;
		padding: 0 50px;
		margin: 0 auto 100px auto;
		min-height: 460px;
	}
}

.contacts__header {
	@media (min-width: $tablet) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 50px;
		margin-bottom: 35px;
	}

	@media (min-width: $desktop) {
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-right: 0;
		padding-top: 60px;
	}
}

.contacts__tittle {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	padding: 0 30px;
	margin-top: 40px;
	margin-bottom: 40px;

	@media (min-width: $tablet) {
		font-size: 43px;
		line-height: 50px;
		font-weight: 700;
		padding: 0 50px;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (min-width: $desktop) {
		width: 66.6667%;
		font-size: 53px;
		line-height: 57px;
		font-weight: 700;
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0px;
		order: 2;
	}
}

.contacts__header-icon {
	display: none;

	@media (min-width: $tablet) {
		display: block;
	}

	@media (min-width: $desktop) {
		display: flex;
		justify-content: center;
		width: 33.3333%;
	}
}

.contacts__info {
	padding: 0 30px;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	color: #444444;

	@media (min-width: $tablet) {
		padding: 0 50px;
		font-size: 17px;
		line-height: 30px;
	}

	@media (min-width: $desktop) {
		width: 50%;
		padding: 0;
		font-size: 17px;
		line-height: 30px;
	}
}

.contacts__table {
	width: 100%;

	@media (min-width: $tablet) {
		margin-bottom: 60px;
	}

	@media (min-width: $desktop) {
		padding-left: 175px;
		margin-bottom: 0;
	}
}

.contacts__table tbody {
	@media (min-width: $tablet) {
		display: flex;
	}

	@media (min-width: $desktop) {
		display: flex;
		flex-direction: column;
	}
}

.contacts__row {
	display: flex;
	margin-bottom: 30px;

	@media (min-width: $tablet) {
		width: 50%;
		margin-bottom: 0;
	}

	@media (min-width: $desktop) {
		width: 100%;
		margin-bottom: 30px;
	}
}

.contacts__cell-1 {
	display: flex;
	align-items: flex-start;
	width: 20%;
}

.contacts__cell-2 {
	display: flex;
	align-items: flex-start;
	width: 80%;
}

.contacts__cell-2--adress {
	br:nth-child(2) {
		@media (min-width: $tablet) {
			display: none;
		}

		@media (min-width: $desktop) {
			display: none;
		}
	}
}

.contacts__link {
	color: #444444;
	text-decoration: none;
	border-bottom: 1px solid #62d1ba;
}

.contacts__maps {
	position: relative;
	margin-bottom: 40px;
	min-height: 455px;

	@media (min-width: $tablet) {
		margin-bottom: 55px;
	}

	@media (min-width: $desktop) {
		position: absolute;
		top: 0;
		left: 50%;
		width: 525px;
	}
}

.content__live-map {
	width: 100%;
}

.contacts__map {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -160px;
	z-index: -1;

	@media (min-width: $tablet) {
		margin-left: -384px;
	}

	@media (min-width: $desktop) {
		width: 524px;
		height: 454px;
		margin-left: -262px;
	}
}

.contacts__button-wrapper {
	padding: 0 30px;

	@media (min-width: $tablet) {
		padding: 0 50px;
	}

	@media (min-width: $desktop) {
		width: 50%;
		padding: 0 0 0 175px;
	}
}

.contacts__contact-us {
	display: block;
	width: 100%;

	@media (min-width: $tablet) {
		width: 230px;
		margin: 0 auto;
	}

	@media (min-width: $desktop) {
		width: 230px;
		margin: 47px 0 0 0;
	}
}
